<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/gidole-regular" rel="stylesheet" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <header class=page__header>
            <img class=site__icon src={{ asset('img/turtle.png') }}>

            <div class="container  clearfix">
                <h1 class=site__title>Golb</h1>

                <nav class=page__nav>
                    <ul>
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        {% if is_granted('ROLE_SONATA_ADMIN') %}
                        <li><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                        <li><a href={{ path('new_blog_post') }}>Add Post</a></li>
                        <li><a href="{{ path('logout') }}">Log Out</a></li>
                        {% else %}
                        <li><a href="{{ path('login') }}">Log In</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <div class=container>
        {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
