{% extends 'base.html.twig' %}

{% block body %}

    <div class=row>
    {% for post in posts %}
        <article class=col-md-6>
            <h1>{{ post.title }}</h1>
            <time>{{ post.publishDate|date('d-m-y') }}</time>

            {{ post.content|slice(0,145)|raw }}

            <a href="{{ path('show_blog_post', {id: post.id, slug: post.title|slugify}) }}">Read more</a>
            {% if app.user and is_granted('edit', post) %}
                <a href="{{path('edit_blog_post', {id: post.id, slug: post.title|slugify}) }}">Edit post</a>
            {% endif %}
        </article>
    {% endfor %}
    </div>

{% endblock %}
